
header h1 {
    font-weight: bold;
}

header ul {
    position: relative;
    left: -12px;
}

footer img {
    position: relative;
    top: -1px;
    display: inline-block;
    height: 1em;
    padding-right: 4px;
}

div.container.well-sm {
    margin-top: 4em;
}

a {
    display: inline-block;
    padding: 2px;
    margin: 1px;
    border: none;
    border-radius: 4px;
}

a:focus {
    margin: 0;
    border: 1px dashed black;
}

main a,
nav ul.nav.navbar-nav>li>a:focus,
nav ul.nav.navbar-nav>li>a:hover {
    text-decoration: underline;
}

main h2 {
    border-bottom: #337AB7 solid thin;
}

main dt {
    margin-top: 1em;
}

main table.table em {
    color: #880000;
}

table.table td ul {
    padding-left: 1em;
}

main details {
    padding-bottom: 2em;
}

