
header {
    border-bottom: orange solid thin;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
    min-height: 100px;
    vertical-align: bottom;
}

header img {
    padding-right: 0.5em;
    float: left;
}

header h1 {
    padding-top: 0.25em;
}


footer {
    margin-top: 0.25em;
    padding-top: 0.25em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    padding-right: 1em;
}

.navbar-default .navbar-nav>li>a:focus {
    outline: solid thin #AAAAAA;
}

.navbar-default .navbar-nav>li>a:hover {
    outline: none;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
    background-color: #EEEEEE;
}

main {
    font-size: 125%;    
}

main h1 {
    font-size: 180%;    
}

main h2 {
    margin-top: 2em;
    font-size: 120%;
    margin-bottom: 0.125em;
}

main h3 {
    font-size: 115%;
}

main dt {
    margin-top: 1em;
}

main .desc {
    margin: 0;
    padding: 0;
}

main .name {
    margin: 0;
    padding: 0;
    font-size: 110%;
    margin-top: 1em;
}
