
header {
    border-bottom: orange solid thin;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em;
    min-height: 100px;
    vertical-align: bottom;
}

header img {
    padding-right: 0.5em;
    float: left;
}

header h1 {
    padding-top: 0.25em;
}


footer {
    margin-top: 0.25em;
    padding-top: 0.25em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
    padding-right: 1em;
}

.navbar-default {
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    background-color: #e0e0e0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-text {
    color: #333;
}


.navbar-default .navbar-nav>li>a:focus {
    outline: solid thin #AAAAAA;
}

.navbar-default .navbar-nav>li>a:hover {
    outline: none;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
    background-color: #EEEEEE;
}

main {
    font-size: 1.5em;
    font-family: Times, 'Times New Roman', serif;
}

main h1 {
    font-size: 1.75em;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

main h2 {
    margin-top: 1.5em;
    margin-bottom: 0.125em;
    font-size: 1.5em;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

main h3 {
    margin-top: 1.5em;
    font-size: 1em;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

main ul {
  padding-left: 2em;
}

main li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

main dt {
    margin-top: 1em;
    font-weight: bold;
}

main dd {
    margin: 0;
    padding: 0;
}

main dd:before {
    content: '-';
    padding-right: 0.25em;
}

main div.border {
    border: 1px dotted #bbb;
    padding: 5px;
}

main .desc {
    margin: 0;
    padding: 0;
}

main .person,
main .conference {
    margin-top: 1em;
}

main .name {
    margin: 0;
    padding: 0;
    font-size: 110%;
}

main .slide-show-url {
    margin-top: 4em;
    font-size: 140%;
}

#example {
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: #f9f2f4;
}

main iframe {
    margin-top: 1em;
}

main caption {
    margin-top: 1em;
    margin-bottom: 0.125em;
    font-size: 1.5em;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: black;
}

main table.table ul {
    padding-left: 1em;
}

main table .num {
    text-align: right;
}

main table .text {
    text-align: left;
}

main table.table tbody th.total,
main table.table tbody td.total {
    border-top: solid 2px black;
    font-weight: bold;
}


main table.table.highlight tbody tr th:hover,
main table.table.highlight tbody tr td:hover {
    outline: solid 4px blue;
    font-weight: bold;
}


main .code {
    font-family: monospace;
    background-color: #EEE;
    border: thin solid #DDD;
    padding: 0.25em;
    border-radius: 6px;
}

main details {
    margin-top: 2em;
    margin-bottom: 2em;
}

main summary {
    display:list-item;
}

main summary h2 {
    margin: 0;
    padding;
    display:inline;
}

main img.chart {
    width: 90%;
}

main .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #ebf0fa;
}

