a:focus,
a.btn:focus {
  outline: 2px #b80924 solid;
  outline-offset: 3px;
  text-decoration: underline;
}

button:focus {
  outline: 2px #b80924 solid;
}

a#drop4 {
  color: black;
  background-color: white;
}
