.bg-home {
    /* The image used */
    background-image: url("../images/slide-01-1920x810.jpg");

    /* Full height */
    height: 100%;
    min-height: 600px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-home .content {
  width: 70%;
}

.bg-home .content h1 {
  font-size: 400%;
}

.bg-home .content p {
  font-size: 120%;
}

.stat {
  font-size: 18px;
}

.bg-catskill h3 {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  color: #b80924;
  font-size: 18px;
}

.bg-vide {
  background-color: black;
}

a:hover {
  text-decoration: underline;
}

.rd-navbar {
  z-index: 20;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-brand-title {
  font-size: 300%;
}

footer h3,
footer .barnd-name {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-size: 18px;
  color: black;
}

footer .brand-slogan {
  color: #666;
}
